# ignore latex build files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex
*.synctex.gz
*.toc
*.lol
*.lof
*.lot
*.loe

# xelatex buidl files
*.xdv

# ignore output pdf
example.pdf
thesis.pdf

# skip MacOS system data
*.DS_Store

# skip VIM editor files
*.swp
*.swo

# ignore TikzEdt helper files
*.preview.tex
*.preview.pdf
*.preview_BB.txt

# ignore Latexian (MacOS) helper files
*LatexianTemp*

# ignore eps plots from MATLAB export
*.eps

# ignore nomenclature files
*.ilg
*.nlo
*.nls

# ignore breamer helper files
*.nav
*.snm
*.vrb

# ignore svg
*.svg


